:root {
    font-size: 16px;
}

@font-face {
	font-display: swap; 
    font-family: "ChangaOne";
    src: url('./resources/fonts/ChangaOne-Regular.woff2') format("woff2"),  
         url('./resources/fonts/ChangaOne-Regular.woff') format("woff");
    
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "ChangaOne", sans-serif;
    background-color: #004645;
}

.game-title {
    width: 640px;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #e7e7e7;
    margin-bottom: 12px;
}

.stat-panel-container {
    position: relative;
    z-index: 20;
}

.stat-panel {
    position: relative;
    width: 640px;
    font-size: 1.4rem;
    padding: 16px 32px;
    box-sizing: border-box;
    background-color: #ffa300;
    color: #1d2b53;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    & .stat-panel__left {
        display: flex;
        align-items: center;
    }

    & .stat-panel__right {
        display: flex;
        align-items: center;
        gap: 24px;

        & .btn-sound {
            border: none;
            outline: none;
            appearance: none;
            cursor: pointer;
            background-color: transparent;
            background: url("./resources/images/sound_on.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 22px;
            height: 17px;

            &.btn-sound__off {
                background: url("./resources/images/sound_off.svg");
                background-repeat: no-repeat;
                background-size: contain;
                width: 22px;
                height: 17px;
            }
        }

        & .btn-info {
            border: none;
            outline: none;
            appearance: none;
            cursor: pointer;
            background-color: transparent;
            background: url("./resources/images/info.svg");
            background-repeat: no-repeat;
            background-size: contain;
            width: 18px;
            height: 18px;
        }
    }

    & .stat-panel__item {
        width: 140px;
    }

    & .stat-panel__info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        font-size: 1rem;
        line-height: 0.4rem;
        background-color: rgba(29, 43, 83, 0.6);
        color: #d8d8d8;
        padding: 15px 15px 15px 40px;
        max-height: 0;
        transition: all .4s ease-in;

        &.stat-panel__info-show {
            top: 56px;
            max-height: 120px;
            line-height: 1.1rem;
        }

        & .btn-close {
            border: none;
            outline: none;
            appearance: none;
            background-color: transparent;
            cursor: pointer;
            font-family: Arial, Helvetica, sans-serif;
            color: #FFFFFF;
            font-size: 1.2rem;
            position: absolute;
            top: 10px;
            right: 30px;
        }
    }


}

.control-info {
   width: 640px;
   color: #e7e7e7;
   font-size: 1rem;
   line-height: 1.2rem;
   margin-top: 24px;
   
   & .control-info__title {
    font-size: 1.4rem;
    margin-bottom: 12px;
   }
}